.before-after {
	padding: 0 0 70px;
	overflow: hidden;
	.section-header {
		margin-bottom: 30px;
	}
}
.one-animal {
	float: left;
	p {
		max-width: 200px;
		margin: 0 auto;
	}
}
.animal-slideshow {
	//width: 100%;
	//overflow: hidden;
	.all-slides {
	//	width: 30000px;
	}
}
// Responsive
@media all and (min-width: 420px) {

}

@media all and (min-width: 800px) {

}