.cta-button {
  padding: 0 14px;
  line-height: $field-height;
  border-radius: $field-height;
  color: $white;
  display: inline-block;
  background: $main-color;
  font-family: $accent-font;
  text-transform: uppercase;

  text-align: center;
  font-size: 18px;

  @include transition(all .3s);
  &:hover {
    color: $white;
    background: darken($main-color,10);
  }
  &.block {
    display: block;
  }
  &.large {
    line-height: $field-height-lg;
    padding: 0 20px;
  }
  &.small {
    line-height: $field-height-sm;
    font-size: 14px;
  }
  &.secondary {
    background: $brand-gold;
    color: $gray;
    &:hover {
      color: $black;
      background: lighten($brand-gold,8);
    }
  }
}
.top-alert {
  background: lighten($error,30);
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  top: 0;
  left: 0; right: 0;
  z-index: 2;
  line-height: 60px;
  min-height: 60px;
}