.hours-contact-info {
  padding: 70px 0;
  .section-header {
    margin-bottom: 30px;
  }
  .phone {
    color: $black;
    font-family: $accent-font;
  }
}
/*.hours-contact-info {
  font-family: $accent-font;
  background: $main-color;
  color: $white;
  padding: 20px;
  a {
    color: $white;
    &:hover {
      color: $white;
      
    }
  }
  h3 {
    margin-bottom: 10px;
  }
}
*/
.service-area {
  .row {
    background: $white;
    border: 2px solid $brand-gold;
    padding: 10px;
  }
  .zip-codes li {
    width: 50%;
    float: left;
  }
}
.service-map {
  max-width: 240px;
}