.hours-contact-info {
  font-family: $accent-font;
  background: $main-color;
  color: $white;
  padding: 20px;
  a {
    color: $white;
    &:hover {
      color: $white;
      
    }
  }
  h3 {
    margin-bottom: 10px;
  }
}