// You can use url($baseurl+'/img/sitebg.jpg'); because it is added in style.scss

$nav-height: 90px;
$footer-height: 50px;

body {
  background: $body-background;
  img {
	  width: 100%;
  }
}
.site-wrap {
	max-width: $page-size;
	margin: 0 auto;
}
.site-header {
	padding: 20px;
	.logo {
		img {
			max-width: 400px;
		}
	}
	.menu-toggle {
		font-size: 30px;
		color: $black;
	}
	.menu-toggle, .logo {
		display: inline-block;
		line-height: $nav-height;
		height: $nav-height;
	}
	.nav {
		display: none;
	}
}
.site-footer {
	padding: 20px 10px;
	border-top: 3px solid $main-color;
}
// Responsive
@media all and (min-width: 420px) {

}

@media all and (min-width: 800px) {

}