// You can use url($baseurl+'/img/sitebg.jpg'); because it is added in style.scss

$nav-height: 50px;
$footer-height: 50px;

body {
  background: $body-background;
}
.site-wrap {
	max-width: $page-size;
	margin: 50px auto;
	background: $page-background;
}
.site-header {
	padding: 20px 10px;
	border-bottom: 3px solid $main-color;
	.logo {
		img {
			height: $nav-height;
		}
	}
	.nav {
		font-family: $accent-font;
	}
	li {
		margin: 0 10px 0 0;
		line-height: $nav-height;
	}
	a {
		color: $black;
		display: inline-block;
	}
	span {
		display: inline-block;
	}
}
.site-footer {
	padding: 20px 10px;
	border-top: 3px solid $main-color;
}
// Responsive
@media all and (min-width: 420px) {


}

@media all and (min-width: 800px) {
.site-header {
	.mobile-toggle {
		display: none;
	}
}

}