// Basic Typography
body {
  color: $font-color;
}
body, button, label {
  font-family: $font-family;
}
a {
  color: $link;
  text-decoration: none;
  outline: none;
  @include transition(all .3s);
  &:hover {
    color: darken($link, 10);
    text-decoration: none;
    outline: none;
  }
}
p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

// Headers
h1, h2, h3, h4 {
  font-family: $accent-font;
  line-height: 1.4em;
}
h1 {
  font-size: 32px;
  line-height: 1.2em;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  margin-bottom: 1em;
}