---
layout: default
title: Home
slug: home
path: "../"
meta-title: Home
meta-description: Home page has longer description.
---

{% include css-shapes.html %}

<div class="slide">
	<div class="video-ctr">
		{% include video-player.html videoID='_qu20bQCLwY' section='link' %}
    </div>
	<h2>The importance of regularly scheduled grooms:</h2>
	<p>Grooming is an essential part of dog care and ownership. Depending on your pet’s breed, age, and health, grooming may be a weekly or even daily activity. Regular grooming helps to ensure that your four legged family members are healthy and comfortable. It is important to know that while many pets shed, others do not shed as profusely, but they all require grooming by a professional every 6–8 weeks.</p>
	<h3>Regularly scheduled grooming: </h3>
	<ul>
		<li>Decreases the change of various health problems, such as matting, thrush and gingivitis, anal gland rupture (can be fatal) and other skin problems.</li>
		<li>Monitors your pet's health by checking for cuts, itching, swelling, lameness, tumors, moles, infections (bacterial, fungal, and yeast), or changes in temperament, all of which could be indicative of illness.</li>
		<li>Prevents infestation of external parasites (fleas, ticks, mites) on skin and in the home.</li>
		<li>Can improve your pets self esteem.</li>
	</ul>

</div>