<a name="about"></a>
<div class="about slide">
  <div class="inner">
    <h2 class="section-header"><span>About Us</span></h2>
  	<div class="row">
  		<div class="column md-one-third">
        {% include video-player.html videoID='_qu20bQCLwY' section='link' %}
  		</div>
  		<div class="column md-two-thirds">
  			<h3>At Gentle Hands our groomers are the best of the best.</h3>

        <p>We wouldn't put your pet in the hands of anyone who wasn't! Our professional pet stylists are AKC Breed certified with many years of grooming experience. Their optimistic attitude and zest for life has allowed them to connect with each animal and have an unconditional understanding of each of them.​​</p>

        <p>What's more, our groomers have a passion for their work. They love animals and are committed to giving each client a delightful experience (and maybe a treat!). You won't find dedication and one on one attention like this at any other groomers.​</p>

        <div class="cbs">
          <a href="https://www.azfamily.com/community/pay_it_forward/dog-owner-pays-it-forward-to-pet-groomer-whose-kindness/article_8d843f7e-8e39-11e9-ab4f-dba2333b125f.html" target="_blank">
            <img src="{{ site.baseurl }}/img/cbs-payitforward.jpg" alt="Dog owner Pays It Forward to groomer who helped save her life" />
          <span>Featured on Channel 5 News' Pay it Forward</span>
          <strong>Dog owner Pays It Forward to groomer who helped save her life</strong>
          </a>
        </div>

  		</div>
	</div>
  </div>
</div>