<a name="photos"></a>
<div class="before-after">
  <div class="inner">

    <div class="row collapse">
      <div class="column md-one-half align-center">
        <div>Client Stories</div>
      </div>
    </div>

    <div class="animal-slideshow">
      <div class="all-slides">
{% assign sortedArticles = site.data.client-stories | sort: 'name' %}
{% for animal in sortedArticles limit: 1 %}
  {% include one-animal.html name=animal.name about=animal.about slug=animal.slug %}
{% endfor %}
      </div>
    </div>

    <!--div class="paging row collapse">
      <div class="column sm-one-half"><a href="#">< Prev</a></div>
      <div class="column sm-one-half"><a href="#">Next ></a></div>
    </div-->

  </div>
</div>