<div class="site-footer">
    <div class="row">
  		<div class="column md-one-forth">
  			<a class="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="Grooming By Gentle Hands Mobile Pet Grooming" /></a>
  			{% include social-links.html %}
  		</div>
  		<div class="column md-three-forths">

        <div class="best-of">
          <a href="https://homeguide.com/az/mesa/dog-grooming/" title="homeguide.com" target="_blank"><img src="//cdn.homeguide.com/assets/images/tmp/homeguide-2019.png" width="150">
            <img src="//cdn.homeguide.com/assets/images/tmp/homeguide-2018.png" width="150" alt="homeguide.com">
          <img src="https://cdn.homeguide.com/assets/images/tmp/homeguide-2017.png" width="150" alt="Dog Groomers Phoenix"/></a>
        </div>
  			<p>Hours: 7 Days a Week, 8am to 6pm</p>
  			<p>
  				To schedule an appointment <a href="{{ site.baseurl }}/appointments.html">Book Online</a> or text <a class="phone" href="tel:+14804400093">480.440.0093</a>
  			</p>
  		</div>
	</div>
    <div class="copyright row">
  		<div class="column">
		    <a href="{{ site.baseurl }}/">&copy; {{ site.time | date: '%Y' }} Gentle Hands Mobile Pet Grooming LLC</a>
		</div>
	</div>
</div>