<div class="site-footer">
    <div class="row">
  		<div class="column md-one-forth">
  			<a class="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="Grooming By Gentle Hands Mobile Pet Grooming" /></a>
			<div>
				<a href="#">Facebook</a>
				<a href="#">Home Guide</a>
				<a href="#">Instagram</a>
			</div>

  			nav<br>
  		</div>
  		<div class="column md-three-forths">
			<p>Hours: 7 days a week, 8am to 6pm</p>
  			<p>
  				To schedule an appointment <a href="#">Book Online</a> or text <a class="phone" href="tel:+14804400093">480.440.0093</a>
  			</p>
  		</div>
	</div>
    <div class="copyright row">
  		<div class="column">
		    <a href="{{ site.baseurl }}/">&copy; {{ site.time | date: '%Y' }} Gentle Hands Mobile Pet Grooming LLC</a>
		</div>
	</div>
</div>