<header>
<div class="site-header">
  <div class="row">
  	<div class="column sm-one-forth">&nbsp;</div>
  	<div class="column sm-one-half align-center">
  		<a class="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="Grooming By Gentle Hands Mobile Pet Grooming" /></a>
  	</div>
  	<div class="column sm-one-forth align-right">
	    <a class="menu-toggle" href="{{ site.baseurl }}/"><i class="fa fa-bars"></i></a>
	    {% include navigation.html layout="header" %}
	</div>
  </div>
</div>
</header>