<header>
<div class="site-header">
  <div class="row">
  	<div class="column sm-one-fifth"><a class="best-of" href="https://homeguide.com/az/mesa/dog-grooming/" title="homeguide.com" target="_blank"><img src="//cdn.homeguide.com/assets/images/tmp/homeguide-2018.png" alt="homeguide.com"></a></div>
  	<div class="column sm-three-fifths align-center">
  		<a class="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="Grooming By Gentle Hands Mobile Pet Grooming" /></a>
  	</div>
  	<div class="column sm-one-fifth align-right">
	    <a rel="nav-toggle" class="menu-toggle" href="{{ site.baseurl }}/"><i class="fa fa-bars"></i></a>
	    {% include navigation.html layout="header" %}
	</div>
  </div>
</div>
</header>