<header>
<div class="site-header">
  <div class="row">
  	<div class="column sm-one-fifth">&nbsp;</div>
  	<div class="column sm-three-fifths align-center">
  		<a class="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="Grooming By Gentle Hands Mobile Pet Grooming" /></a>
  	</div>
  	<div class="column sm-one-fifth align-right">
	    <a rel="nav-toggle" class="menu-toggle" href="{{ site.baseurl }}/"><i class="fa fa-bars"></i></a>
	    {% include navigation.html layout="header" %}
	</div>
  </div>
</div>
</header>