<a name="contact"></a>
<div class="hours-contact-info align-center slide">
  <div class="inner">
  	<h2 class="section-header"><span>Hours & Service Area</span></h2>
  	<div class="row collapse">
  		<div class="column md-one-half align-center">
			<h3><span>Hours</span></h3>
			<p><span>7 Days a Week </span><span>8am to 6pm</span></p>
<br> 
			<h3><span>Schedule an Appointment</span></h3>

			<p>Just text or call</p>
			<p><h3><a class="phone" href="tel:+14804400093">480.440.0093</a></h3></p>
			{% include social-links.html %}
  		</div>
  		<div class="column md-one-half align-center">
  			{% include service-area.html %}
  		</div>
	</div>
</div>