<div class="main-nav align-center">
	<a rel="nav-toggle" class="close" href="{{ site.baseurl }}/"><i class="fa fa-times"></i></a>
	<ul class="bullet-reset nav-links">
	    <li><a href="{{ site.baseurl }}/appointments.html">Book Online</a></li>
	    <li><a rel="scroll-to-anchor" href="{{ site.baseurl }}/#services">Services &amp; Pricing</a></li>
	    <li><a rel="scroll-to-anchor" href="{{ site.baseurl }}/#about">About Us</a></li>
	    <li><a href="{{ site.baseurl }}/photos.html">Before &amp; After Photos</a></li>
	    <li><a href="{{ site.baseurl }}/mobile-grooming.html">Mobile Grooming</a></li>
	    <li><a rel="scroll-to-anchor" href="{{ site.baseurl }}/#contact">Contact US</a></li>
	    <li><a rel="scroll-to-anchor" href="{{ site.baseurl }}/">Home</a></li>
	</ul>
</div>