<div class="main-nav align-center">
	<a rel="nav-toggle" class="close" href="{{ site.baseurl }}/"><i class="fa fa-times"></i></a>
	<ul class="bullet-reset">
	    <li><a href="{{ site.baseurl }}/">Home</a></li>
	    <li><a href="{{ site.baseurl }}/#services">Services &amp; Pricing</a></li>
	    <li><a href="{{ site.baseurl }}/#about">About</a></li>
	    <li><a href="{{ site.baseurl }}/#photos">Before &amp; After</a></li>
	    <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
	</ul>
</div>