<div class="row one-animal layout-{{ include.layout }}">
  <div class="column md-one-forth" style="background-image: url({{ site.baseurl }}/img/animal-{{ include.slug }}-before.jpg);">
  	Before
  </div>
  <div class="column md-one-half align-center">
  	{% if include.layout == "slide" %}
  	<p>Client Stories</p>
    <h3 class="section-header"><span>Meet {{ include.name }}</span></h3>
  	{% else %}
    <h2><span>Meet {{ include.name }}</span></h2>
    {% endif %}
    <p>
      {{ include.about }}
    </p>
  </div>
  <div class="column md-one-forth" style="background-image: url({{ site.baseurl }}/img/animal-{{ include.slug }}-after.jpg);">
  	After
  </div>
</div>