<a name="services"></a>
<div class="services slide">
  <div class="inner">
  	<h2 class="section-header"><span>Services &amp; Pricing</span></h2>
  	<div class="row collapse">
  		<div class="column md-one-forth">
{% include service-item.html slug="cat" title="Cat" bathprice="75" groomprice="100" %}
  		</div>
      <div class="column md-one-forth">
{% include service-item.html slug="sm" title="Small" bathprice="55" groomprice="75" %}
      </div>
  		<div class="column md-one-forth">
{% include service-item.html slug="md" title="Medium" bathprice="75" groomprice="90" %}
  		</div>
  		<div class="column md-one-forth">
{% include service-item.html slug="lg" title="Large" bathprice="95" groomprice="135" %}
  		</div>
	</div>
	<p class="align-center">Prices range depending on breed, age, size, coat type, temperament, location, health. We do not groom dogs over 50lbs.<br>
We do not make appointments for nail trim only.<br><br>
    <a class="cta-button small" href="{{ site.baseurl }}/appointments.html">Book Appointment</a></p>

  </div>
</div>