<a name="services"></a>
<div class="services slide">
  <div class="inner">
  	<h2 class="section-header"><span>Services &amp; Pricing</span></h2>
  	<div class="row collapse">
  		<div class="column md-one-forth">
{% include service-item.html slug="cat" title="Cat" bathprice="58" groomprice="88" %}
  		</div>
      <div class="column md-one-forth">
{% include service-item.html slug="sm" title="Small" bathprice="48" groomprice="68" %}
      </div>
  		<div class="column md-one-forth">
{% include service-item.html slug="md" title="Medium" bathprice="68" groomprice="88" %}
  		</div>
  		<div class="column md-one-forth">
{% include service-item.html slug="lg" title="Large" bathprice="88" groomprice="108" %}
  		</div>
	</div>
	<p class="align-center">Prices range depending on breed, age, size, coat type, temperament, location, health.<br>
We do not make appointments for nail trim only.</p>
  </div>
</div>