<div class="service-area">
	<h4>Currently Serving the East Valley</h4>
	<div class="row">
  		<div class="column md-two-thirds">
  			<p><img class="service-map" src="{{ site.baseurl }}/img/service-area.png" alt="Gentle Hands Mobile Pet Grooming Service Area" /></p>
  		</div>
  		<div class="column md-one-third">
			<ul class="zip-codes bullet-reset inline">
				<li>85204</li>
				<li>85206</li>
				<li>85234</li>
				<li>85233</li>
				<li>85225</li>
				<li>85295</li>
				<li>85296</li>
				<li>85297</li>
				<li>85286</li>
				<li>85249</li>
				<li>85248</li>
			</ul>
		</div>
</div>