<a name="services"></a>
<div class="services slide">
  <div class="inner">
    <h2 class="section-header"><span>Services &amp; Pricing</span></h2>
    <div class="row collapse">
      {% comment %}
      <div class="column md-one-forth">
        {% include service-item.html slug="cat" title="Cat" bathprice="75" groomprice="100" %}
      </div>
      {% endcomment %}
      <div class="column md-one-half">
        {% include service-item.html slug="sm" title="Small" bathprice="70" bathpricehigh="85" groomprice="100" groompricehigh="110" %}
      </div>
      <div class="column md-one-half">
        {% include service-item.html slug="md" title="Medium" bathprice="105" bathpricehigh="115" groomprice="120" groompricehigh="130" %}
      </div>
      {% comment %}
      <div class="column md-one-third">
        {% include service-item.html slug="lg" title="Large" bathprice="95" groomprice="135" %}
      </div>
      {% endcomment %}
  </div>
  <p class="align-center">Prices range depending on breed, age, size, coat type, temperament, location, health. We do not groom dogs over 50lbs.<br>
We do not make appointments for nail trim only.
    {% comment %}<br><br><a class="cta-button small" href="{{ site.baseurl }}/appointments.html">Book Appointment</a>{% endcomment %}</p>
  </div>
</div>




Small bath:$70-$85
Small groom: $100-$110
Medium bath: $105-$115
Medium groom: $120-$130